{% extends "layouts/base.html" %}
{% block content %}



<div style="text-align:center">

<h1 class="fontchanger" style="color:rgb(173, 119, 224); font-size: 80px; margin-bottom: 40px;">
    Upload your best memory here
</h1>

<form method="POST", enctype="multipart/form-data">
        {{ imperssion_form.hidden_tag() }}
        {{ imperssion_form.impression_image (class = "backgroundgradient", accept=".png, .jpg" ) }}<br>

        <br>
        {{ imperssion_form.submit (class = "backgroundgradient", style="width:150px; color:black;") }}


</form>


{% for item in data%}
    
<div class="card" style="width: 18rem; height:400px; background-color:bisque">
  <img src="{{ url_for('static', filename='/uploaded_files/' + item[1]) }}" class="card-img-top" alt="..." style="width: 288px; height: 180px">
  <div class="card-body">
    <h5 class="card-title">{{item[0]}}</h5>
  </div>

</div>


{% endfor %}
</div>

{% endblock %}
