@font-face {
    font-family: "myfont";
    src: url(Myfont.ttf);
}

.fontchanger{
    font-family: "myfont", sans-serif;
}

.backgroundgradient{
    width:320px;
    height:40px;
    margin-bottom:10px;
    color:white;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, rgb(207, 135, 186) 0%, rgb(219, 173, 205) 35%, rgb(202, 164, 191) 100%);

}
::placeholder {
    color: rgb(26, 25, 25);
    opacity: 2; 
    padding-left: 5px;
  }


.toursearch{
    background-color: rgb(27, 27, 27);
    border:none;
    margin-left: 50px;
    width: 400px;
    
}

